body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.arrow {
  margin: 0 30px;
}

small {
  font-size: 12px;
}

form {
  margin-bottom: 20px;
}
